extends layout

block content
	h1= title
	h3 Добро пожаловать на сайт<br>#{title} в Крыму!
	p И ещё какой-то текст. Бла-бла-бла...
	p Побольше бы такого текста и контент глядишь - набежит:)

block side
	h2= "Заголовок"
	p Текст боковой панели

