doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div.padding
		div.header
		div.wrapper
			div.page
				div.side
					block side
				div.content
					block content
				div.clear