body {
	padding: 0;
	margin: 0;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: #E9DC51;
}

a {
  color: #00B7FF;
}
div.header{
	margin: 0 auto;
	width: 980px;
	height: 160px;
	background-color: #00B7FF;
}
div.wrapper{
	margin: 0 auto;
	width: 980px;
	
}
div.content{
	width: 730px;
	float: left;
	background-color: #888;
}
div.side{
	width: 250px;
	float: right;
	background-color: #AAA;
}