body {
	padding: 8px 0 0 0;
	margin: 0;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background: #E9DC51 url(../images/back.gif) repeat left top;
}
div.padding{
	background: url(../images/koleso_c.png) no-repeat left -90px;
	position: absolute;
	left: 0;
	top: 0;
	width: 224px;
	height: 210px;
	z-index: -10;
}

a {
  color: #00B7FF;
}
div.header{
	margin: 0 auto;
	width: 980px;
	height: 300px;
	background: url(../images/logo.png) no-repeat left top;
}
div.wrapper{
	margin: 0 auto;
	padding: 0;
	width: 980px;
	background: url(../images/main.png) repeat-y left top;
}
div.page{
	margin: 8px 0 0 0;
}
div.content{
	width: 730px;
	float: right;
	background: url(../images/koleso_t.jpg) no-repeat right top;
}
div.side{
	width: 240px;
	float: left;
/*	background-color: #AAA;*/
}
div.clear{
	clear: both;
}